 Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Temp Files
\#*\#
/**/temp
.\#*

# Automatically populated dirs
/frameworks
/auto-save-list/**
/elpa/** Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Temp Files
\#*\#
/**/temp
.\#*

# Automatically populated dirs
/frameworks
/auto-save-list/**
/elpa/**
/smex-items
/.python-environments/default/bin/activate
/.last-package-update-day
/.python-environments/default/bin/activate.csh
/.python-environments/default/bin/activate.fish
/lisp/apperance.el.rej
/projectile-bookmarks.eld
/projectile.cache
/.python-environments/default/bin/activate_this.py
*.rej
